@media(min-width: 1400px) {}

@media(max-width:1399px) {}

@media(max-width:1199px) {}

@media(max-width:991px) {

  /* header section start  */
  header {
    padding: 0px;
  }

  header .container .row {
    width: 100%;
    margin: 0px auto;
    border-radius: 0px;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
  }


  header .container .row .btn {
    display: none;
  }
  header .container .row .menu {
    display: block;
    position: absolute;
    top: 81px;
    left: 0px;
    background-color: white;
    color: black;    
    overflow: hidden;
    transition: all 0.5s;
    height: 100vh;
    width: 100%;
    transform: translate(-100%);
  }
  header .container .row .menu.show{
    transform: translate(0%);
  }
  header .container .row .menu ul {
    flex-direction: column;
  }
  header .container .row .menu ul li{
    border-bottom: 1px solid#e1e1e1;
  }
  header .container .row .menu ul li a {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    i{
      display:block;
    }
  }

  header .container .row .responsive-menu {
    display: block;
  }

  header .container .row .responsive-menu a {
    border: 1px solid black;
    display: block;
    padding: 10px;
    position: relative;
    transition: all 0.3s;
  }

  /* header section end  */
  /* slider section start  */
  .slider {
    margin-top: 0px;
  }

  .slider .container .row .main-box {
    padding-top: 0px;
    justify-content: center;
  }

  .slider .container .row .main-box .box-1 {
    width: 70%;
  }

  .slider .container .row .main-box .box-1 .contant h2 {
    width: 80%;
  }

  .slider .container .row .main-cart {
    display: flex;
    justify-content: center;

  }

  .slider .container .row .main-cart .sub-cart {
    width: 40%;
    padding: 15px;
  }

  /* slider section end  */
  /* about section start  */
  .about .container .row .main-box {
    flex-direction: column;
  }

  .about .container .row .main-box .detail,
  .about .container .row .main-box .img {
    width: 75%;
  }

  .about .container .row .main-box .detail .contant h5 {
    padding-left: 0px;
  }

  .about .container .row .main-box .detail .contant h2 {
    font-size: 36px;
    padding-bottom: 10px;
    padding-left: 0px;
  }

  .about .container .row .main-box .detail .contant p {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  /* about section end  */
  /* product section start  */
  .product .container .row .detail,
  .product .container .row .main-cart {
    width: 80%;
  }

  .product .container .row .detail h2 {
    padding: 0px;
  }

  .product .container .row .main-cart .sub-cart {
    width: 100%;
  }

  /* product section end  */
  /* work section start  */
  .work .container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work .container .row .img,
  .work .container .row .detail {
    width: 65%;
  }

  .work .container .row .detail .heading h2 {
    font-size: 47px;
    padding-right: 0px;
  }

  /* work section end  */
  /* newsletter section start  */
  .newsletter .container .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter .container .row .heading h2 {
    font-size: 40px;
  }

  .newsletter .container .row .heading,
  .newsletter .container .row .email {
    width: 70%;
  }

  .newsletter .container .row .email form .contant input {
    padding-right: 270px;
  }

  /* newsletter section end  */
  /* video section start  */

  .video .container .row {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video .container .row .contant {
    width: 70%;
  }

  /* video section end  */
  /* project section start  */
  .project .container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project .container .row .main-cart {
    width: 70%;
  }

  /* project section end  */
  /* testimonial section start */
  .testimonial .container .row .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial .container .row .main-box .sub-box {
    width: 80%;
  }

  .testimonial .container .row .main-box .sub-box .contant .review p {
    font-size: 18px;
  }

  /* testimonial section end */
  /* faq section start  */
  .faq .container .row .main-box {
    flex-direction: column;
    align-items: center;
  }

  .faq .container .row .main-box .sub-box {
    width: 75%;
  }

  /* faq section end  */
  /* blog section start */
  .blog .container .row,
  footer .container .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .blog .container .row .main-cart {
    width: 75%;
  }

  .blog .container .row .main-cart .sub-cart {
    width: 50%;
  }

  .blog .container .row .main-cart .sub-cart .contant .details .icon ul {
    padding: 0px;
  }

  .blog .container .row .img-box .img-cart {
    width: 33.33%;
  }

  /* blog section end */
  /* footer section start  */
  footer .container .row .main-box {
    width: 70%;
  }

  footer .container .row .main-box .about,
  footer .container .row .main-box .links,
  footer .container .row .main-box .contac,
  footer .container .row .main-box .post {
    width: 50%;
  }

  footer .container .row .main-box .contac,
  footer .container .row .main-box .post {
    padding-top: 10px;
  }

  footer .container .row .main-box .contac .box .icon i {
    height: 40px;
    width: 40px;
    padding: 10px;
  }

  footer .container .row .main-box .contac .box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .container .row .main-box .post .box .img {
    width: 23%;
  }

  footer .container .row .main-box .post .box .txt a,
  footer .container .row .main-box .post .box .txt span,
  footer .container .row .main-box .about p,
  footer .container .row .main-box .links ul li a {
    font-size: 16px;
  }

  footer .copyright {
    align-items: center;
    justify-content: center;
  }

  footer .copyright span,
  footer .copyright ul {
    width: 40%;
    padding-left: 0px;
  }

  /* footer section end  */
}

@media(max-width:767px) {

  /* header section start  */
  header .container {
    width: 100%;
  }

  header .container .row {
    padding: 15px 100px;
  }

  header .container .row .img {
    width: 40%;
  }

  /* header section end  */
  /* slider section start  */
  .slider .container {
    width: 85%;
  }

  .slider .container .row .main-box .box-1 .contant h5 {
    font-size: 15px;
  }

  .slider .container .row .main-box .box-1 .contant h2,
  .slider .container .row .main-box .box-1 .contant h2 span {
    font-size: 32px;
    width: 100%;
  }

  .slider .container .row .main-cart .sub-cart {
    width: 80%;
  }

  /* slider section end  */
  /* about section start  */
  .about .container {
    width: 85%;
  }

  .about {
    padding-top: 0px;
  }

  .about .container .row .main-box .detail .contant h2 {
    font-size: 40px;
  }

  /* about section end  */
  /* product section start  */
  .product .container {
    width: 85%;
  }

  .product .container .row .detail h2 {
    font-size: 42px;
  }

  .product .container .row .main-cart .sub-cart .contant .detail h4 a {
    padding-left: 10px;
  }

  /* product section end  */
  /* work section start  */
  .work .container .row .detail .heading {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }

  .work .container .row .detail {
    padding: 0px;
  }

  .work .container .row .detail .heading h2 {
    font-size: 42px;
  }

  .work .container .row .detail .main-box .sub-box .img {
    width: 25%;
  }

  .work .container .row .detail .main-box .sub-box .explanation h3 {
    font-size: 32px;
    padding-left: 10px;
  }

  .work .container .row .detail .main-box .sub-box .explanation p {
    font-size: 18px;
  }

  /* work section end  */
  /* newsletter section start  */

  .newsletter .container {
    width: 85%;
    padding-bottom: 150px;
  }

  .newsletter .container .row {
    justify-content: center;
    align-items: center;
  }

  .newsletter .container .row .heading h5 {
    text-align: center;
  }

  .newsletter .container .row .heading h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 20px;
  }

  .newsletter .container .row .email form .contant input {
    padding-right: 38px;
  }

  /* newsletter section end  */
  /* video section start  */
  /* .video{
    position: relative;
  } */
  /* .video .container{
    width: 85%;
  } */
  /* .video .container .row .contant{
    position: absolute;
    margin-top: -200px;   
  } */
  /* video section end  */
  /* project section start  */
  .project .container {
    width: 85%;
  }

  .project .container .row .heading h2 {
    font-size: 45px;
    font-weight: 700;
  }

  .project .container .row .btn ul {
    width: 100%;
  }

  .project .container .row .main-cart {
    width: 85%;
  }

  .project .container .row .main-cart .sub-cart {
    width: 100%;
  }

  /* project section end  */
  /* testimonial section start  */
  .testimonial .container {
    width: 85%;
  }

  .testimonial .container .row .heading h2 {
    font-size: 42px;
  }

  /* testimonial section end  */
  /* feq section start  */
  .faq .container {
    width: 85%;
  }

  .faq .container .row .main-box .sub-box .question .heading {
    padding: 5px 10px;
  }

  .faq .container .row .main-box .sub-box .question .heading a {
    padding: 5px 5px;
  }

  .faq .container .row .main-box .sub-box h5 {
    text-align: center;
  }

  .faq .container .row .main-box .sub-box h2 {
    text-align: center;
    font-size: 42px;
  }

  .faq .container .row .main-box .sub-box p {
    font-size: 15px;
  }

  /* faq section end  */
  /* blog section start  */
  .blog .container {
    width: 85%;
  }

  .blog .container .row .heading h2 {
    font-size: 42px;
  }

  .blog .container .row .main-cart {
    padding-top: 20px;
    width: 80%
  }

  .blog .container .row .main-cart .sub-cart {
    width: 100%;
  }

  .blog .container .row .img-box {
    width: 80%;
  }

  .blog .container .row .img-box .img-cart {
    width: 50%;
  }

  /* blog section end  */
  /* footer section start  */
  footer .copyright {
    padding: 25px 0px;
  }

  footer .container .row .main-box .post .box .img {
    width: 28%;
  }

  footer .copyright span,
  footer .copyright ul {
    text-align: center;
    width: 100%;
  }

  footer .copyright ul {
    padding-top: 20px;
    justify-content: center;
  }

  /* footer .copyright{
  justify-content: center;
  align-items: center;
} */

  /* footer section end  */
}

@media(max-width:575px) {

  /* header section start  */
  header .container {
    width: 100%;
  }

  header .container .row {
    padding: 15px 0px;
  }
  header .container .row .menu{
    top: 69px;

  }
  /* header section end  */
  /* slider section start  */
  .slider .container {
    width: 90%;
  }

  .slider .container .row .main-box {
    width: 100%;
  }

  .slider .container .row .main-box .box-1 {
    width: 100%;
  }

  .slider .container .row .main-box .box-1 .contant h2 {
    font-size: 28px;
  }

  .slider .container .row .main-cart .sub-cart {
    padding: 15px 0px;
    width: 100%;
  }

  /* slider section end  */
  /* about section start  */
  .about {
    padding-bottom: 0px;
  }

  .about .container {
    width: 100%;
  }

  .about .container .row .main-box .detail,
  .about .container .row .main-box .img {
    width: 90%;
  }

  /* about section end  */
  /* product section start  */
  .product .container {
    width: 90%;
  }

  .product .container .row .detail,
  .product .container .row .main-cart {
    width: 100%;
  }

  .product .container .row .main-cart .sub-cart {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* product section end  */
  /* work section start  */

  .work .container {
    width: 95%;
  }

  .work .container .row .img {
    width: 100%;
  }

  .work .container .row .detail {
    width: 100%;
  }

  .work .container .row .detail .main-box .sub-box .explanation h3 {
    font-size: 30px;
  }

  .work .container .row .detail .main-box .sub-box .img {
    width: 23%;
  }

  .work .container .row .detail .main-box .sub-box .explanation p {
    font-size: 16px;
  }

  /* work section end  */
  /* .newsletter section start  */

  .newsletter .container {
    width: 90%;
    padding-bottom: 0px;
  }

  .newsletter .container .row .heading {
    width: 100%;
  }

  .newsletter .container .row .email {
    width: 100%;
    padding-top: 40px;
  }

  .newsletter .container .row .email form .contant input {
    padding-right: 128px;
    padding-left: 0px;
  }

  /* .newsletter section end  */
  /* video section start  */
  .video .container .row .contant {
    width: 90%;
  }

  /* video section end  */
  /* project section start  */
  .project .container {
    width: 90%;
  }

  .project .container .row .main-cart {
    width: 100%;
  }

  .project .container .row .btn ul {
    padding-left: 0px;
    padding-right: 0px;
  }

  .project .container .row .main-cart .sub-cart {

    padding-left: 0px;
    padding-right: 0px;
  }

  /* project section end  */
  /* .testimonial section start  */
  .testimonial .container {
    width: 90%;
  }

  .testimonial .container .row .main-box .sub-box {
    width: 100%;
    padding: 20px 0px;
  }

  /* .testimonial section end  */
  /* faq section start  */
  .faq .container {
    width: 90%;
  }

  .faq .container .row .main-box .sub-box {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .faq .container .row .main-box .sub-box h2 {
    font-weight: bolder;
    font-size: 45px;
  }

  /* faq section end  */
  /* blog section start  */
  .blog .container {
    width: 90%;
  }

  .blog .container .row .main-cart {
    width: 100%;
  }

  .blog .container .row .main-cart .sub-cart {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .blog .container .row .img-box {
    width: 100%;
  }

  .blog .container .row .img-box .img-cart {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .blog .container .row .img-box .img-cart img {
    width: 65%;
  }

  /* blog section end  */
  /* footer section start  */
  footer {
    background-color: #283734 !important;
  }

  footer .container {
    width: 90%;
  }

  footer .container .row .main-box {
    width: 100%;
  }

  footer .container .row .main-box .about,
  footer .container .row .main-box .links,
  footer .container .row .main-box .contac,
  footer .container .row .main-box .post {
    width: 100%;
    padding-right: 0px;
  }

  footer .container .row .main-box .about p {
    padding-right: 0px;
  }

  footer .container .row .main-box .links {
    padding-top: 10px;
  }

  footer .container .row .main-box .contac .box {
    padding-left: 0px;
  }

  footer .container .row .main-box .contac .box .icon {
    justify-content: flex-start;
    width: 10%;
  }

  footer .container .row .main-box .post .box .img {
    width: 15%;
  }

  footer .container .row .main-box .post .box .txt {
    width: 70%;
    padding-left: 20px;
  }

  /* footer section start  */
}

@media(max-width:475px) {

  /* slider section start  */
  .slider .container .row .main-box .box-1 .contant h2 {
    font-size: 38px;
  }

  /* slider section end  */
  /* work section start  */
  .work .container .row .detail .heading h2 {
    font-weight: 900;
    text-align: center;
    font-size: 42px;
  }

  .work .container .row .detail .main-box .sub-box .img {
    width: 25%;
    padding-right: 0px;
  }

  .work .container .row .detail .main-box .sub-box .explanation {
    padding-left: 15px;
  }

  /* work section end  */
  /* newsletter section start  */
  .newsletter .container .row .email form .contant input {
    padding-right: 35px;
  }

  /* newsletter section end  */
  /* testimonial section start  */
  .testimonial .container .row .heading h2 {
    font-size: 44px;
  }

  /* testimonial section end  */
  /* faq section start  */
  .faq .container .row .main-box .sub-box .question .heading a {
    font-size: 20PX;
  }

  .faq .container .row .main-box .sub-box .question p {
    font-size: 16px;
  }

  /* faq section end  */
  /* blog section start  */
  .blog .container .row .img-box .img-cart {
    width: 100%;
  }

  .blog .container .row .img-box .img-cart img {
    width: 45%;
  }

  /* blog section end  */
  /* footer section start  */
  footer .copyright span {
    font-size: 15px;
  }

  /* footer section end  */

}